/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 4:25:38 PM
    Author     : cjsm12
*/

h1{
    text-align: center;
    margin-bottom: 30px;
}

#create-organization-button{
    margin-top: 20px;
    margin-left: 380px;
    margin-right: 10px;
}

#add-members-button{
    margin-top: 20px;
    margin-left: 350px;
}

#cancel-button{
    margin-top: 20px;
}

#name-row, #description-row, #contact-row, #location-row, #member-row{
    margin-right: 70px;

}

#create-organization-image{
    margin-left: 275px;
}

#img{
    height: 200px;
    width: 600px;
}

#description{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 

}

#description-box{
    margin-left: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
}

#create-location-button{
    margin-top: 20px;
}
