/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 4:26:09 PM
    Author     : cjsm12
*/
h1{
    text-align: center;
    margin-bottom: 30px;
}

#create-fighter-button{
    margin-top: 20px;
    margin-left: 500px;
    margin-right: 30px;
}

#cancel-button{
    margin-left: 20px;
}

#name-row, #description-row, #power-row, #alliance-row{
    margin-right: 70px;

}

#edit-fighter-image{
    margin-left: 275px;
    margin-top: -50px;
    margin-bottom: -90px;
}

#edit-fighter-button{
    margin-left: 380px;
}

#description{
    font-style: italic;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px; 

}

#description-box{
    margin-left: 200px;
    border: 3px solid black;
    border-radius: 20px;
    margin-bottom: 50px;
}

#empty-list-description{
    margin-top: 7px;
}
