/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 1:37:33 PM
    Author     : cjsm12
*/
#error-image{
    background-image: url("https://image.ibb.co/kJOXi6/repair_robot.png");
    background-size: 100%;
    padding-bottom: 800px;
}
