/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 16, 2017, 4:27:42 PM
    Author     : cjsm12
*/

h1{
    margin-left: 60px;
}

.large-text{
    font-size: 20px;
}