/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2018, 4:04:14 AM
    Author     : cjsm12
*/

#home-summary-box{
    width: 100%;
    height: 250px;
    border: 3px solid black;
    border-radius: 15px;
    padding: 20px;
    padding-top: 50px;
    background-color: white;
}

#home-description{
    font-size: 16px;
    font-weight: bold;
}

body{
    background-image: url(https://image.ibb.co/i1BPu6/hard_hat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 4px;
}

