<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <!--The important part of editing an ingredient is the 3 inputs for editing an ingredient-->
        <div class='row'>
            
            <div class='col-md-3'>
                <label>Description</label>
                <input type='text' th:field='*{description}'/> <!--Editing the description of the ingredient-->
            </div>

            <div class='col-md-3'>
                <label>Quantity</label>
                <input type='number' th:field='*{quantity}'/> <!--Editing the quantity of the ingredient-->
            </div>

            <div class='col-md-3'>
                <label>Unit Of Measure</label> <!--This is a nested object with an ingredient object-->
                <select name='uom.id'> <!--The name tag is how you access the value of the select form either through javascript or on the spring controller-->
                    <option th:each='uomEach : ${uomList}'
                            th:value='${uomEach.id}'
                            th:selected='${uomEach.equals(ingredient.uom)}'
                            th:text='${uomEach.description}'>Each
                    </option>
                </select>
            </div>
            
            <button type='submit'>Submit</button>
        </div>




    </body>
</html>
