<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html th:href='@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}'> <!--Import statment for thymeleaf-->
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <!--This page is where we would display the list of ingredients belonging to a single recipe-->
    <!--Also provided is links such as view, update, and delete on each ingredient for even deeper access-->
    <!--I only took the important part from the lesson, which is the view, update, and delete links for the ingredient-->
    <tr th:each="ingredient : ${recipe.ingredients}"> <!--For each ingredient in the set of recipes of the recipe object...-->
        <td><a th:href="@{'/recipe/' + ${recipe.recipeId} + '/ingredient/' + ${ingredient.ingredientId} + '/show'}">View</a></td>
        <td><a th:href="@{'/recipe/' + ${recipe.recipeId} + '/ingredient/' + ${ingredient.ingredientId} + '/update'}">Update</a></td>
        <td><a th:href="@{'/recipe/' + ${recipe.recipeId} + '/ingredient/' + ${ingredient.ingredientId} + '/delete'}">Delete</a></td>     
    </tr>



    </body>
</html>
