    #top-row-header {
        text-align: center;
        color: white;
        font-weight: bold;
    }

    body {
        background-color: black;
    }
    
    .item-styling {
        width: 170px;
        height: 170px;
        border: 3px solid white;
        margin-bottom: 30px;
        background-color: white;
    }
    
    #money-inputed-header {
        margin-left: 75px;
        font-size: 30px;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        color: black;
    }
    
    #money-inputed-box {
        width: 120px;
        height: 40px;
        border: 3px solid black;
        margin-bottom: 5px;
        margin-left: 78px;
        margin-top: -5px;
        position: relative;
        background-color: white;
    }
    
    #add-dollar-button {
        margin-bottom: 5px;
        margin-left: 20px
    }
    
    #add-quarter-button {
        margin-bottom: 5px;
        margin-right: 10px;
    }
    
    #add-nickel-button {
        margin-bottom: 15px;
    }
    
    #add-dime-button {
        margin-bottom: 15px;
        margin-left: 25px;
    }
    
    #line-under-input-money-section {
        width: 100%;
        border: 1px solid black;
    }
    
    #messages-header {
        text-align: center;
        margin-bottom: -10px;
        margin-left: 15px;
        color: black;
    }
    
    #messages-box {
        width: 200px;
        height: 50px;
        border: 3px solid black;
        margin-left: 45px;
        overflow: hidden;
        background-color: white;
    }
    
    #item-display-box {
        width: 130px;
        height: 40px;
        border: 3px solid black;
        margin-left: 20px;
        display: inline-block;
        text-align: center;
        background-color: white;
    }
    
    #item-header {
        margin-left: 55px;
        font-size: 30px;
        font-family: Verdana, sans-serif;
        font-weight: normal;
        color: black;
    }

    #item-section{
        margin-left: 40px;
    }
    
    #line-under-messages-section {
        width: 100%;
        border: 1px solid black;
    }
    
    #make-purchase-button {
        width: 210px;
        height: 30px;
        margin-left: 35px;
    }
    
    #change-header {
        text-align: center;
        margin-left: 10px;
        color: black;
    }
    
    #change-display-box {
        width: 260px;
        height: 55px;
        border: 3px solid black;
        margin-bottom: 15px;
        background-color: white;
    }
    
    #get-change-button {
        margin-left: 75px;
    }
    
    .id-styling {
        margin-left: 5px;
        font-size: 17px;
        color: white;
    }
    
    .name-styling {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        margin-top: -10px;
        color: white;
    }
    
    .img-styling {
        width: 70px;
        height: 70px;
        margin-left: 45px;
    }
    
    .price-styling {
        text-align: center;
        font-size: 17px;
        color: white;
    }
    
    .quantity-styling {
        text-align: center;
        font-size: 17px;
        margin-top: 5px;
        display: inline;
        color: white;
    }
    
    #change {
        text-align: center;
        font-size: 100%;
        margin-top: 5px;
        color: white;
    }
    
    #messages {
        font-weight: bold;
        text-align: center;
        font-size: 20px;
        margin-top: 5px;
        color: white;
    }
    
    .quantity-spacing {
        margin-left: 35px;
        padding-right: 5px;
    }

    #money{
        margin-left: 40px;
        position: absolute;
        margin-top: 5px;
        color: white;
    }

    .silver{
        background-color: silver;
    }

    #change-div{
        height: 180px;
        width: 290px;
    }

    #message-item-div{
        width: 290px;
    }

    #money-input-div{
        width: 290px;
    }