<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Error Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Reference Bootstrap files -->
	<link rel="stylesheet"
		 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div id="error-image">
                <h1>Error Page</h1>
                <div class="navbar">
                    <ul class="nav nav-tabs">
                        <li role="presentation">
                            <a class="btn btn-md btn-primary" th:href="@{/}">Go Back</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h1>Sorry...an error has occured</h1>
                    <h3 th:text="${status + ' ' + error}"></h3>
                </div>
            </div>
        </div>

    </body>
</html>
