/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2018, 5:19:02 AM
    Author     : cjsm12
*/

#submit{
    margin-left: 10px;
}

#cancel-button{
   margin-left: 20px; 
}