/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2018, 10:57:47 PM
    Author     : cjsm12
*/

#submit-order{
    margin-left: 405px;
    margin-right: 25px;
}

#create-order-header{
    margin-left: 440px;
}