/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 10, 2018, 12:07:10 AM
    Author     : cjsm12
*/

#search-form{
    
    margin-left: 180px;
}

h1{
    margin-left: 430px;
    margin-bottom: 50px;
}