/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 9, 2018, 5:29:36 PM
    Author     : cjsm12
*/

#manager-options{
    margin-left: 370px;
    margin-top: 50px;
}

#manager-options-box{
    width: 400px;
    height: 300px;
    border: 3px solid black;
    padding: 50px;
    padding-top: 80px;
    margin-bottom: 100px;
    border-radius: 15px;
    background-image: url("https://image.ibb.co/jq2vBm/Wood_Grain.jpg");
}

#edit-order-button{
    margin-left: 10px;
}

#view-order-button{
    margin-left: 10px;
    margin-top: 20px;
}

#delete-order-button{
    margin-top: 20px;
}

#manager-summary-box{
    width: 500px;
    height: 150px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 15px;
    margin-left: 320px;
    margin-top: 40px;
}

#manager-summary-text{
    font-size: 20px;
    font-style: italic;
    font-family: "Centeria Script";
    margin-top: 10px;
    margin-left: 5px;
}

#manager-summary-header{
    margin-left: 420px;
    margin-top: 40px;
    font-weight: bold;
}

