<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Employee Directory</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body>

	<div class="container">
		<h3>Employee Directory</h3>
		<hr>
		<a th:href="@{/employees/showAddForm}" 
		   class="btn btn-primary btn-sm mb-3">
		   Add Employee
		</a>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text="${emp.firstName}" />
					<td th:text="${emp.lastName}" />
					<td th:text="${emp.email}" />
					<td> 
						<a th:href="@{/employees/showFormUpdate(employeeId=${emp.id})}" 
							  class="btn btn-info btn-sm">
							Update
						</a>
						<a th:href="@{/employees/delete(employeeId=${emp.id})}"
							  class="btn btn-danger btn-sm"
							  onclick="if (!(confirm('Are you sure you want to delete this employee?'))) return false">
							Delete
						</a>
					</td>
				</tr>
			</tbody>	
		</table>
	</div>
</body>

</html>