<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href='@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}' integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        
    </head>
    <body>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-primary">

                        <div class="panel-heading">
                            <h1 class="panel-title">My Recipes</h1>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(recipes)}"> <!--This thymeleaf tag checks if the list on the model
                                                                                                       is empty or not, and only display the entire table
                                                                                                       if it isn't empty-->
                                <table class="table table-hover">
                                    <thead class="thead-inverse">
                                        <tr>
                                            <th>ID</th>
                                            <th>Description</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <!--These next 2 rows are mock rows, meaning they only get displayed when no data is present or preview purposes 
                                        and the remove=all says to remove the entire row when data is actually present, same with next row as well-->
                                    <tr th:remove="all"> 
                                        <td>123</td>
                                        <td>Tasty Goodness</td>
                                        <td><a href="#">View</a></td>
                                    </tr>
                                    <tr th:remove="all">
                                        <td>456</td>
                                        <td>Yummy Stuff</td>
                                        <td><a href="#">View</a></td>
                                    </tr>
                                    <!--Here we loop over each recipe in the set and display the properties of each object-->
                                    <tr th:each="recipe : ${recipes}">
                                        <td th:text="${recipe.id}">789</td>
                                        <td th:text="${recipe.description}">Delicious</td>
                                        <td><a th:href="@{'/recipe/' + ${recipe.recipeId} + '/show'}">View</a></td>
                                    </tr>
                                </table>



                            </div>





                        </div>
                    </div>
                </div>   
            </div>
        </div>


        <script th:src="@{/webjars/jquery/3.3.3-1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
    </body>
</html>
